{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 49.828626281562,
        "longitude": 18.115392923355106,
        "elevation": 230,
        "unit_system": "metric",
        "location_name": "Vresina HA",
        "time_zone": "Europe/Prague",
        "external_url": "https://vresina.hruzik.net:8081",
        "internal_url": "https://vresina.hruzik.net:8123"
    }
}